@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");
.door-intro-background {
  background-color: #94af9f;
  color: white;
  padding: 20px 0;
  margin-bottom: 50px;
}

.door-intro-section {
  display: flex;
  width: 80%;
  margin: 40px auto;
  gap: 20px;
}

.door-intro-text {
  width: 30%;
}

.door-intro-text > h1 {
  padding-bottom: 10px;
  text-transform: uppercase;
}

.door-intro-image {
  width: 60%;
  height: 300px;
  background-image: url(../public/assets/GiljeDoors/doors-page-hero.jpg);
  background-size: 130%;
  background-position: center;
}

.door-grid {
  width: 80%;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  margin: auto;
}

.door-grid > a > h3 {
  text-align: center;
  font-size: 20px;
  padding-bottom: 10px;
  color: black;
}

.door-grid > a {
  text-decoration: none;
}

.single-door {
  height: 100%;
  transition: transform 0.3s ease;
}

.single-door:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
  .door-intro-section {
    display: block;
    width: 100%;
  }
  .door-intro-image {
    width: 100%;
    background-size: cover;
  }
  .door-intro-text {
    width: 80%;
    margin: auto;
    text-align: center;
  }
  .door-intro-text > p {
    padding: 30px 0;
  }
  .door-grid {
    width: 90%;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin: auto;
  }
  .door-grid > a > img {
    max-width: 100%;
    max-height: 300px;
    margin: 10px;
  }
  .single-door {
    width: 40%;
  }
}
@media only screen and (max-width: 380px) {
  .door-grid > a > img {
    width: 27%;
  }
}
.window-intro-background {
  background-color: #94af9f;
  color: white;
  padding: 20px 0;
  margin-bottom: 50px;
}

.window-intro-section {
  display: flex;
  width: 80%;
  margin: 40px auto;
  gap: 20px;
}

.window-intro-text {
  width: 30%;
}

.window-intro-image {
  width: 60%;
  height: 300px;
  background-image: url(../public/assets/GiljeWindows/window-page-hero.gif);
  background-size: 140%;
  background-position: center;
}

.window-grid {
  width: 80%;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.window-grid > div > a > img {
  width: 100%;
  padding: 50px 0;
}

.window-grid > div {
  width: 33%;
}

.window-grid > div > p {
  text-align: center;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 500;
}

.single-window {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.single-window:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
  .window-intro-section {
    display: block;
    width: 100%;
    margin: 40px auto;
    gap: 20px;
  }
  .window-intro-image {
    width: 100%;
    background-size: cover;
  }
  .window-intro-text {
    width: 80%;
    margin: auto;
    text-align: center;
  }
  .window-intro-text > p {
    padding: 30px 0;
  }
  .window-grid {
    display: block;
    width: 100%;
  }
  .window-grid > div {
    width: 90%;
    margin: auto;
  }
  .window-grid > div > p {
    font-size: 1.1em;
  }
}
.door-product-container {
  display: flex;
  width: 80%;
  margin: 80px auto;
  justify-content: space-between;
}

.door-product-image {
  width: 55%;
  margin: auto;
  background-color: white;
}

.door-product-image > h2 {
  text-transform: uppercase;
  text-align: center;
}

.door-product-image > img {
  display: flex;
  margin: 20px auto;
  width: 30%;
}

.door-product-info {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
}

.door-product-info > div > h3 {
  text-transform: uppercase;
  margin-bottom: 9px;
}

@media only screen and (max-width: 768px) {
  .door-product-container {
    display: block;
    width: 80%;
    margin: 20px auto;
  }
  .door-product-info {
    width: 90%;
    margin: auto;
    display: block;
  }
  .door-product-image {
    width: 100%;
    margin: auto;
    background-color: white;
    padding-bottom: 30px;
  }
  .door-product-image > img {
    width: 50%;
  }
  .door-product-info > div {
    padding: 15px 0;
  }
}
.window-product-info {
  width: 50%;
}

.window-product-info > div > p {
  line-height: 30px;
}

.window-product-container {
  display: flex;
  width: 90%;
  margin: 80px auto;
  justify-content: space-between;
}

.window-product-image {
  margin: auto;
  background-color: white;
}

.window-product-image > h2 {
  text-transform: uppercase;
  text-align: center;
}

.window-product-image > img {
  display: flex;
  margin: 20px auto;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .window-product-container {
    display: block;
    width: 90%;
    margin: 60px auto;
  }
  .window-product-info {
    width: 90%;
    margin: auto;
    padding-top: 20px;
  }
}
.contact-form-container {
  width: 70%;
  min-height: 40vh;
  margin: 70px 0;
  padding: 30px 0;
}

.contact-form-container > h1 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-form-container > p {
  width: 80%;
  margin: auto;
}

.contact-form {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.contact-form > button {
  width: 40%;
  margin-top: 30px;
  background-color: transparent;
  padding: 10px 20px;
  cursor: pointer;
}

.contact-form > label {
  padding-top: 25px;
}

.contact-form > input {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid lightgray;
}

.contact-form > textarea {
  border-radius: 3px;
  border: 1px solid lightgray;
}

.contact-form-background {
  display: flex;
  margin: auto;
  width: 80%;
  gap: 20px;
}

.contact-form-image {
  width: 70%;
  margin: 60px 0;
  background-image: url("../public/assets/ContactUsImages/kontakt-oss.jpg");
  background-size: cover;
  background-position: center;
  border-bottom-right-radius: 120px;
}

@media only screen and (max-width: 768px) {
  .contact-form-background {
    width: 100%;
    display: block;
  }
  .contact-form-image {
    width: 100%;
    height: 200px;
    border-bottom-right-radius: unset;
    margin: unset;
    margin-bottom: 20px;
  }
  .contact-form-container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    text-align: center;
    min-height: 30vh;
  }
  .contact-form-container > h1 {
    margin-bottom: unset;
  }
  .contact-form-container > p {
    width: 90%;
    margin: 40px auto;
  }
}
.about-us__container-hero {
  display: flex;
  margin: 30px auto;
  justify-content: space-between;
  width: 100%;
}

.about-us__container-hero > .left-hero {
  padding-left: 50px;
  justify-content: center;
  gap: 30px;
}

.about-us__container > div > h1,
.about-us__container > div > p {
  text-align: center;
}

.about-us__container > h1 {
  text-transform: capitalize;
}

.about-us__right-hero {
  background-image: url("../public/assets/AboutUsImages/om-oss1.jpg");
  background-position: center;
  width: 50%;
  height: 500px;
  background-repeat: none;
  background-size: cover;
  border-bottom-left-radius: 99px;
}

.about-us__left-hero {
  background-image: url("../public/assets/AboutUsImages/om-oss2.jpg");
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 500px;
  background-repeat: none;
  border-top-left-radius: 99px;
}

.about-us__right-hero-second {
  background-image: url("../public/assets/AboutUsImages/om-oss3.gif");
  background-position: center;
  width: 50%;
  height: 500px;
  background-repeat: none;
  background-size: cover;
  border-bottom-left-radius: 99px;
}

.about-us__intro-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #94af9f;
  color: white;
  height: 400px;
  padding: 20px 0;
}

@media only screen and (max-width: 768px) {
  .about-us__intro-background > p {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
  }
  .about-us__container-hero {
    display: block;
    margin: 0;
  }
  .about-us__container-hero > .left-hero {
    padding-left: unset;
    padding: 20px 0;
  }
  .about-us__right-hero, .about-us__right-hero-second {
    width: 100%;
    height: 400px;
    border-bottom-left-radius: unset;
  }
  .about-us__left-hero:first-child {
    display: none;
  }
  .about-us__left-hero {
    display: block;
    width: 100%;
    height: 400px;
    border-top-left-radius: unset;
  }
  .right-mini-hero > h2, .right-mini-hero > p {
    margin: auto;
    text-align: center;
  }
  .about-us__container-hero > .left-hero {
    font-size: 0.83em;
  }
}
@media only screen and (min-width: 768px) {
  .about-us__left-hero:last-child {
    display: none;
  }
}
.gilje-sense-intro-background {
  background-color: #94af9f;
  color: white;
  padding: 20px 0;
  margin-bottom: 50px;
}

.gilje-sense-intro-section {
  display: flex;
  width: 80%;
  margin: 40px auto;
  gap: 20px;
}

.gilje-sense-intro-text {
  width: 30%;
}

.gilje-sense_intro-image {
  width: 80%;
  height: 330px;
  background-image: url("../public/assets/GiljeSenseImages/gilje-sense-mobile.jpeg");
  background-repeat: no-repeat;
  background-position: center;
}

.gilje-sense__container-hero {
  display: flex;
  margin: 30px auto;
  justify-content: space-between;
  width: 100%;
}

.gilje-sense__container-hero > .left-hero {
  padding-left: 50px;
  justify-content: center;
  gap: 30px;
}

.gilje-sense__container > div > h1,
.gilje-sense__container > div > p {
  text-align: center;
}

.gilje-sense__container__right-hero {
  width: 50%;
  padding-top: 40px;
  padding-bottom: 40px;
  background-repeat: none;
  background-size: cover;
  border-bottom-left-radius: 99px;
}

@media only screen and (max-width: 768px) {
  .gilje-sense-intro-section {
    display: block;
    width: 100%;
  }
  .gilje-sense_intro-image {
    width: 100%;
    background-size: contain;
  }
  .gilje-sense-intro-text {
    width: 80%;
    margin: auto;
    text-align: center;
  }
  .gilje-sense-intro-text > p {
    padding: 30px 0;
  }
  .gilje-sense__container-hero {
    display: block;
  }
  .gilje-sense__container-hero > .left-hero {
    padding-left: unset;
  }
  .gilje-sense__container__right-hero {
    width: 100%;
    padding-top: unset;
    padding-bottom: unset;
  }
}
.hamburger-menu {
  position: absolute;
  top: 0px;
  right: 0;
  z-index: 1000;
  display: none;
}

.hamburger-menu__button {
  display: inline-block;
  padding-top: 27px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hamburger-menu__close-button {
  float: right;
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hamburger-menu__icon {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #000;
  margin-bottom: 4px;
}

.hamburger-menu__icon::before,
.hamburger-menu__icon::after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background-color: #000;
}

.hamburger-menu__icon::before {
  transform: translateY(-6px);
}

.hamburger-menu__icon::after {
  transform: translateY(4px);
}

.hamburger-menu__close-icon {
  position: absolute;
  top: 15px;
  right: 20px;
}

.hamburger-menu__nav {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 60vw;
  min-height: 100vh;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.hamburger-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  list-style: none;
  text-align: center;
  margin: auto;
  padding: unset;
}

.hamburger-menu__item {
  margin-bottom: 30px;
  text-transform: uppercase;
  background-color: #FFF;
  border: none;
}

.hamburger-menu__item {
  font-size: 1em;
  color: #000;
}

@media only screen and (max-width: 768px) {
  .hamburger-menu {
    display: unset;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.nav-contact-section .nav-phone-number {
  text-decoration: none;
  color: #94af9f;
  padding-right: 1rem;
  font-size: 0.9rem;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}

header > nav > a {
  padding: 0 12px;
  text-transform: uppercase;
  color: black;
  letter-spacing: 2px;
  font-size: 0.8em;
  text-decoration: none;
}

header > div > button {
  padding: 10px 20px;
  background-color: white;
  border: none;
  border-radius: 3px;
}

.logo {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.1em;
  letter-spacing: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.hero {
  display: flex;
  gap: 10px;
  width: 90%;
  margin: 30px auto;
  justify-content: space-between;
}

.left-hero {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  padding-left: 50px;
  width: 40%;
}

.left-hero > h1 {
  text-transform: capitalize;
  font-size: 2em;
  margin-bottom: 60px;
}

.left-hero > p {
  line-height: 1.7em;
}

.primaryButton {
  padding: 15px 15px;
  background-color: darkslategray;
  color: white;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  text-align: center;
}
.primaryButton:hover {
  background-color: rgb(60, 101, 101);
}

.secondaryButton {
  padding: 15px 15px;
  background-color: darkgoldenrod;
  color: white;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  text-align: center;
}
.secondaryButton:hover {
  background-color: rgb(213, 157, 13);
}

.right-hero {
  background-image: url("../public/assets/HomepageImages/luxury-house-frontpage.jpg");
  background-position: center;
  width: 60%;
  height: 500px;
  background-repeat: none;
  background-size: cover;
}

.features {
  color: white;
}

.top-features {
  display: flex;
  flex-direction: column;
  width: 60%;
  text-align: center;
  margin: 70px auto;
  padding: 20px 0;
}

.top-features > h2 {
  padding: 10px 0;
  text-transform: uppercase;
}

.bottom-features {
  display: flex;
  gap: 10px;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.bottom-features > div {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  justify-content: flex-end;
  width: 33%;
  background-color: lightgrey;
  margin-bottom: 40px;
}

.bottom-features > div > button {
  width: 70%;
  margin: 0 auto 10px;
}

.bottom-features > div:nth-child(1) {
  background-image: url("../public/assets/HomepageImages/feature-image-one.gif");
  background-size: cover;
}

.bottom-features > div:nth-child(2) {
  background-image: url("../public/assets/HomepageImages/feature-image-two.jpg");
  background-position: center;
  background-size: cover;
}

.bottom-features > div:nth-child(3) {
  background-image: url("../public/assets/HomepageImages/feature-image-three.jpg");
  background-size: cover;
}

.features-background {
  background-color: #94af9f;
}

.mini-hero {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
  justify-content: space-between;
}

.mini-hero-main {
  display: flex;
}

.left-mini-hero {
  background-image: url("../public/assets/HomepageImages/hero-landscape.jpg");
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 500px;
  background-repeat: none;
  border-top-left-radius: 99px;
}

.right-mini-hero {
  width: 50%;
  padding: 20px 30px;
}

.right-mini-hero > h2 {
  text-transform: capitalize;
  padding-bottom: 20px;
  font-size: 2.2em;
  width: 80%;
  line-height: 1.3em;
}

.right-mini-hero > p {
  line-height: 1.7em;
}

.mini-hero-overflow-div {
  position: absolute;
  display: flex;
  width: 52%;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: rgba(148, 175, 159, 0.9764705882);
  color: white;
  right: 20px;
  bottom: 80px;
}

.mini-hero-overflow-div > div > p {
  font-size: 0.7em;
  padding-top: 4px;
  width: 80%;
  margin: auto;
}

.mini-hero-overflow-div > div {
  width: 33%;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.mini-hero-overflow-div > div:nth-child(2) {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.doorImage {
  width: 130px;
  height: 300px;
  margin-bottom: 35px;
  transition: transform 0.3s ease-in-out;
}
.doorImage:hover {
  transform: scale(1.1);
}

.doorTitle {
  padding-bottom: 16px;
  font-size: 16px;
  font-weight: 600;
  padding-left: 10px;
}

.slider-container {
  width: 80%;
  margin: auto;
  padding: 20px 0 90px;
}

.slider-container > h2 {
  text-align: center;
  padding: 20px 0 40px;
  text-transform: uppercase;
}

.window-container {
  width: 100%;
  margin: 40px auto;
  padding: 90px 10px;
  display: flex;
  flex-direction: row;
  background-color: #94af9f;
  color: white;
}

.window-container > div {
  width: 40%;
  margin: auto;
  height: 400px;
}

.window-image > img {
  height: 100%;
  width: 90%;
}

.window-container-header {
  height: 200px;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-bottom: 60px;
  text-align: center;
  background-color: rgba(255, 255, 136, 0.68);
  font-style: italic;
  font-weight: bold;
}

.window-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  line-height: 30px;
}

.window-text > button {
  width: 50%;
}

.window-text > h2 {
  text-transform: uppercase;
  font-size: 2em;
}

.window-text > p {
  font-size: 1.3em;
}

.window-container-nav {
  list-style: none;
  font-size: 0.8em;
}

.window-container-nav > h2 {
  text-align: center;
}

.window-container-nav > nav {
  display: flex;
  width: 70%;
  justify-content: center;
  margin: 20px auto -80px;
  gap: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.window-container-nav > nav > button {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 1.1em;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}

.bolded {
  font-weight: 600;
}

.showroom-container {
  background-color: #94af9f;
  color: white;
}

.showroom-hero {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
}

.left-showroom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.right-showroom {
  margin: 60px 0;
}

.footer-email,
.footer-phone-number {
  padding-left: 6px;
  color: white;
}

.footer-email-section,
.footer-phone-section {
  padding: 10px 0;
}

.footer-contact-section {
  display: flex;
  gap: 1rem;
}

.footer-top {
  display: flex;
  height: 250px;
  width: 100%;
}

.footer-top-div {
  width: 25%;
  height: 100%;
  margin-top: 2px;
}

.footer-top-div:nth-child(odd) {
  background-color: #94af9f;
}

.footer-top-div:nth-child(even) {
  background-color: aliceblue;
}

footer {
  height: 250px;
  color: white;
  background-color: darkslategray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.footer-nav > a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  padding: 20px;
  text-transform: uppercase;
}

.footer-info > p {
  padding: 5px;
}

.footer-info > p > a {
  color: white;
}

@media only screen and (max-width: 768px) {
  * {
    max-width: 100%;
  }
  .logo {
    width: 90%;
    text-align: center;
    margin: auto;
  }
  .primaryButton {
    display: none;
  }
  header {
    width: 100%;
    margin: auto;
    display: block;
    align-items: center;
    padding: 15px 0;
  }
  header > div > a {
    padding: 0 2px;
    margin: 20px 0;
    letter-spacing: 0px;
    font-size: 0.78em;
    text-decoration: none;
    font-weight: 500;
  }
  .left-hero {
    padding-left: unset;
  }
  .logo {
    display: flex;
    width: 80px;
    height: 80px;
  }
  .nav-container {
    padding-top: 10px 0 0 0;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    display: none;
  }
  .nav-contact-section {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 0.8rem;
  }
  .nav-contact-section .nav-phone-number {
    font-size: 0.8rem;
  }
  .hero {
    display: block;
    width: 100%;
    max-width: 100%;
  }
  .left-hero {
    display: block;
    width: 100%;
    max-width: 100%;
  }
  .left-hero > h1 {
    margin-bottom: 15px;
    font-size: 1.8em;
    text-align: center;
  }
  .left-hero > p {
    padding: 0 10px 10px;
    text-align: center;
    font-size: 1.2em;
    width: 90%;
    margin: auto;
  }
  .right-hero {
    display: block;
    width: 100%;
    height: 250px;
    border-bottom-left-radius: 0;
  }
  .features-background {
    margin: -30px 0 0 0;
  }
  .features {
    display: inline-block;
  }
  .top-features {
    width: 90%;
    text-align: center;
    font-size: 1.2em;
    margin: 20px auto;
    padding: 0;
  }
  .bottom-features {
    display: inline-block;
    width: 100%;
  }
  .bottom-features > div {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    min-width: 100%;
    justify-content: flex-end;
    width: 33%;
    background-color: lightgrey;
    margin-bottom: 40px;
  }
  .bottom-features > div > button {
    width: 70%;
    margin: 0 auto 10px;
  }
  .mini-hero-main {
    display: block;
  }
  .mini-hero {
    width: 100%;
    padding: unset;
  }
  .left-mini-hero,
  .right-mini-hero {
    width: 100%;
    border-top-left-radius: 0;
  }
  .mini-hero-overflow-div {
    position: unset;
    width: 100%;
    border-bottom: 2px solid white;
  }
  .window-container-nav {
    display: none;
  }
  .slider-container {
    display: none;
  }
  .showroom-hero {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .left-showroom {
    padding-top: 40px;
    text-align: center;
  }
  footer {
    height: 250px;
    color: white;
    background-color: darkslategray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
  }
  .footer-nav {
    font-size: 14px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
  }
  .footer-nav > a {
    padding: 0 10px;
  }
  .footer-info {
    font-size: 14px;
  }
}
@media only screen and (max-width: 380px) {
  header > div > a {
    font-size: 0.5em;
  }
  header > div > a {
    padding: 5px 0;
    margin: 20px 0;
    font-size: 0.7em;
    text-decoration: none;
    font-weight: 500;
  }
  .footer-nav {
    font-size: 12px;
  }
}/*# sourceMappingURL=index.css.map */