.gilje-sense-intro-background {
  background-color: #94af9f;
  color: white;
  padding: 20px 0;
  margin-bottom: 50px;
}
.gilje-sense-intro-section {
  display: flex;
  width: 80%;
  margin: 40px auto;
  gap: 20px;
}
.gilje-sense-intro-text {
  width: 30%;
}
.gilje-sense_intro-image {
    width: 80%;
    height: 330px;
    background-image: url("../assets/GiljeSenseImages/gilje-sense-mobile.jpeg");
    background-repeat: no-repeat;
    background-position: center
  }
  .gilje-sense__container-hero {
  display: flex;
    margin: 30px auto;
    justify-content: space-between;
    width: 100%;
  }
  .gilje-sense__container-hero > .left-hero {
    padding-left: 50px;
    justify-content: center;
    gap: 30px;
  }
  .gilje-sense__container > div > h1,
  .gilje-sense__container > div > p {
    text-align: center;
  }
  .gilje-sense__container__right-hero {
    width: 50%;
    padding-top: 40px;
    padding-bottom: 40px;
    background-repeat: none;
    background-size: cover;
    border-bottom-left-radius: 99px;
  }

  @media only screen and (max-width: 768px) {
    .gilje-sense-intro-section {
      display: block;
      width: 100%;
    }
    .gilje-sense_intro-image {
      width: 100%;
      background-size: contain;
    }
    .gilje-sense-intro-text {
      width: 80%;
      margin: auto;
      text-align: center
    }
    .gilje-sense-intro-text>p {
      padding: 30px 0;
    }
    .gilje-sense__container-hero {
      display: block;
    }
    .gilje-sense__container-hero > .left-hero {
      padding-left: unset;
    }
    .gilje-sense__container__right-hero {
      width: 100%;
      padding-top: unset;
      padding-bottom: unset;
    }
  }